In [ ]:
mimi1 = int(input("inserire n° "))
mimi2 = int(input("inserire n° "))

a. far inserie all'utente due valori interi

In [42]:
print("add:" + str(mimi1 + mimi2) ) 
print("sot:" + str(mimi1 - mimi2) )
print("div:" + str(mimi1 / mimi2) )
print("mol:" + str(mimi1 * mimi2) )

add:50
sot:40
div:9.0
mol:225

b. effettuare le 4 operazioni aritmetiche tra i due numeriù

In [43]:
print(pow(mimi1,mimi2))

184528125

*c*. effettuare l'elevamento a potenza del primo numero per il secondo

In [44]:
print(str (mimi1 % mimi2))

0

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [45]:
print(str (mimi1 // mimi2))

9

f. effettuare la divisione intera tra il primo e il secondo numero

In [50]:
mimi1 += 1
mimi2 += 1
print(mimi1)
print(mimi2)

50
10

g. incrementare di una unità entrambi i numeri

In [ ]:
altezza = float(input("inserisci la tua altezza(m): "))
peso= float(input("inserisci il tuo peso(kg): "))

print(peso/(altezza*2))

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
print(peso//(altezza*2))

i. arrotondare l'IMC precedente