<a href="https://colab.research.google.com/github/Lich-senpai13/python-appunti-ed-esercizzi/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
mimi1 = int(input("n1: "))
mimi2 = int(input("n2: "))

n1: 1
n2: 3

a. far inserie all'utente due valori interi

In [4]:
print("add:" + str(mimi1 + mimi2) ) 
print("sot:" + str(mimi1 - mimi2) )
print("div:" + str(mimi1 / mimi2) )
print("mol:" + str(mimi1 * mimi2) )

add:4
sot:-2
div:0.3333333333333333
mol:3

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [5]:
print(pow(mimi1,mimi2))

1

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [116]:
print(str (mimi1 % mimi2))

5

f. effettuare la divisione intera tra il primo e il secondo numero

In [10]:
mimi1 += 1
mimi2 += 1
print(mimi1)
print(mimi2)

5
7

g. incrementare di una unità entrambi i numeri

In [29]:
altezza = float(input("inserisci la tua altezza(m): "))
peso= float(input("inserisci il tuo peso(kg): "))


print(peso/(altezza*2))

inserisci la tua altezza(m): 1.87
inserisci il tuo peso(kg): 69
18.449197860962567

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [31]:
print(int (peso//(altezza*2)))

18

i. arrotondare l'IMC precedente

In [61]:
info = ["Enki -","Papes -","16/3/2005 -","Milano"]
print(*info)

Enki - Papes - 16/3/2005 - Milano

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [72]:
info = [('Enki - Papes - 16/3/2005 - Milano \n')*10]
print(*info)

Enki - Papes - 16/3/2005 - Milano
Enki - Papes - 16/3/2005 - Milano
Enki - Papes - 16/3/2005 - Milano
Enki - Papes - 16/3/2005 - Milano
Enki - Papes - 16/3/2005 - Milano
Enki - Papes - 16/3/2005 - Milano
Enki - Papes - 16/3/2005 - Milano
Enki - Papes - 16/3/2005 - Milano
Enki - Papes - 16/3/2005 - Milano
Enki - Papes - 16/3/2005 - Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [115]:
NomCo = "enki papes"
print('%s' %NomCo.upper())

ENKI PAPES

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [88]:
NomCo1 = "enki papes"
print(NomCo1.title ())

Enki Papes

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [125]:
NomCo2 = "enki papes"
print(len(NomCo2))

10

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [143]:
NomCo3 = "EnkiPapes"
print('Primo carattere di' , NomCo3 , 'is:' , NomCo3 [0:5])

Primo carattere di EnkiPapes is: Enki

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [145]:
NomCo4 = "EnkiPapes"
print('Primo carattere di' , NomCo4 , 'is:' , NomCo4 [-5:])

Primo carattere di EnkiPapes is: Papes

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [147]:
NomCo4 = "EnkiPapes"
print('Primo carattere di' , NomCo4 , 'is:' , NomCo4 [1:8])

Primo carattere di EnkiPapes is: nkiPape

r.. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [163]:
NomCo4 = "EnkiPapes"
NomCog = NomCo4[0:8] +'X'

print("creating new string",NomCog,"OK")

creating new string EX OK

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X